<div class="contenedorPaleta">
    <div class="lista">
        <h1>Blanco</h1>
        <ul>
            <li>Sencillez</li>
            <li>Claridad</li>
            <li>Pureza </li>
            <li>Limpieza</li>
        </ul>
        <h1>Amarillo </h1>
        <ul>
            <li>Felicidad</li>
            <li>Abundancia</li>
            <li>Optimismo</li>
        </ul>
        <div class="lista2">
            <h1>Azul </h1>
            <ul>
                <li>Fiable </li>
               <li>Seguro</li>
                <li>Profecional</li>
                <li>Fresco</li>
            </ul>
        </div>
        <div class="lista3">
            <h1>Gris </h1>
            <ul>
                <li>Formalidad </li>
               <li>Modernidad</li>
                <li>Velocidad</li>
                
            </ul>
        </div>

    </div>

</div>